data/infoboxes
*.zip
.venv
data/infoboxes_old_data*
infobox_comparison_report.txt
data/rdf/all_infoboxes*
infobox_structure_report*
infobox_fields_mapping*
rdf_maker_old*
__pycache__
docs/*
PRESENTATION_PLAN.md